Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

refactor レガシーなShapeStatisticFromDiariesクラス廃止
  .idea/workspace.xml
  backend/.php-cs-fixer.cache
  backend/_ide_helper_models.php
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/app/Http/Actions/Diary/ShowMonthDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Http/Actions/Diary/ShowYearDiaryAction.php
  backend/app/Http/Actions/ShowHomeAction.php
  backend/app/UseCases/Diary/ShapeStatisticFromDiaries.php
Labels: ⚙backend

wip composerとyarnの更新
  backend/.php-cs-fixer.cache
  backend/_ide_helper.php
  backend/composer.lock
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

wip テーブル作成
  backend/app/Models/UserNotification.php
  backend/database/migrations/2021_12_29_145921_add_flags_and_roles_to_users_table.php
  backend/database/migrations/2022_10_16_210100_create_user_notifications_table.php
Labels: 📦database-core

fix ローカルのデータベース名変更
  .env.example
  backend/.env.dusk.local
  backend/.env.example
  backend/resources/views/diary/home.blade.php
  docker-compose.yml
Labels: ⚙backend, 🏠localInfra

fix 年の取得usecaseで今年は選択された日の年は除く
  backend/app/UseCases/Diary/GetSameDayDiariesByDate.php
Labels: none

refactor 通知既読管理テーブルの分離
  backend/.php-cs-fixer.cache
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/app/Console/Commands/JudgeUserRankCommand.php
  backend/app/Http/Actions/Osirase/CreateOsiraseAction.php
  backend/app/Http/Actions/ReleaseNote/CreateReleaseNoteAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
  backend/app/Http/Actions/User/Notification/RemoveOsiraseNoticeAction.php
  backend/app/Http/Actions/User/Notification/RemoveReleaseNoteNoticeAction.php
  backend/app/Http/Actions/User/Notification/RemoveUserRankNoticeAction.php
  backend/app/Models/Diary.php
  backend/app/Models/User.php
  backend/app/Models/UserNotification.php
  backend/app/Models/UserReadNotification.php
  backend/app/UseCases/User/GetUnreadNotifications.php
  backend/database/factories/UserFactory.php
  backend/database/migrations/2021_12_29_145921_add_flags_and_roles_to_users_table.php
  backend/database/migrations/2022_10_16_210100_create_user_read_notifications_table.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/UserTableSeeder.php
  backend/database/seeders/userReadNotificationTableSeeder.php
  backend/resources/views/admin/homeAdmin.blade.php
  backend/resources/views/diary/security/home.blade.php
Labels: ⚙backend, 📦database-core

fix array()を[]にかえてちょっと高速化
  backend/app/Models/Diary.php
Labels: none

fix ユーザーランク更新通知が消せない
  backend/app/Http/Actions/User/Notification/RemoveUserRankNoticeAction.php
Labels: none

fix シーダーを工夫して同じバグに気づけるようにする
  backend/database/seeders/userReadNotificationTableSeeder.php
Labels: none

feat シンボリックリンク追加
  frontend_legacy
Labels: none

fix ln
  frontend_legacy_ln
Labels: none

fix やはりwinだと壊れてコミットできなくなるので廃止
  frontend_legacy_ln
Labels: none

refactor 明示的にdevのdockerファイルが分かるように変更
  docker-compose.yml
  infra/dev/mysql/Dockerfile
  infra/dev/mysql/initial/second_database.sql
  infra/dev/mysql/my.cnf
  infra/dev/nginx/Dockerfile
  infra/dev/nginx/default.conf
  infra/dev/php/Dockerfile
  infra/dev/php/php-fpm.d/zzz-www.conf
  infra/dev/php/php.ini
  infra/dev/redis/redis.conf
  infra/dev/selenium/Dockerfile
Labels: 🏠localInfra

feat Next.js+tailwind+tsで動作確認
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/hello.ts
  frontend/pages/index.tsx
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: none

fix 既存のバックエンドコンテナ名をappからbackendへ修正
  Makefile
  dev.md
  docker-compose.yml
  docs/DEV/01_backend/02_laravel.md
  docs/DEV/02_nlp/README.md
Labels: 🏠localInfra

wip dockerのnodeうごいったっぽい
  docker-compose.yml
  frontend/package.json
  frontend/yarn.lock
  infra/dev/nginx/Dockerfile
  infra/dev/nginx/nginx.conf
  infra/dev/node/Dockerfile
Labels: 🏠localInfra

fix 初回で動作しない問題やURLの整備
  Makefile
  backend/.env.example
  docker-compose.yml
  docs/DEV/01_backend/01_db.md
  docs/DEV/README.md
  infra/dev/nginx/Dockerfile
Labels: ⚙backend, 🏠localInfra

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*
