Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

wip declare strictついてないやつ修正
  backend/app/UseCases/Diary/ShapeContentWithNlp.php
  backend/app/UseCases/Diary/ShapeStatisticFromDiaries.php
Labels: none

wip 謎のファイル移動修正
  backend/routes/NotificationBroadcasterAdminController.php
Labels: 🔗router

feat パッケージ中身を個別ページに移動
  backend/app/Http/Controllers/admin/packages/PackageAdminController.php
  backend/app/Http/Controllers/admin/packages/ShowIndividualPackage.php
  backend/app/Http/Controllers/statistics/NamedEntityStatisticsController.php
  backend/resources/views/admin/packages/index.blade.php
  backend/resources/views/admin/packages/individual.blade.php
  backend/routes/web.php
Labels: 🔗router

fix ページ遷移リンクのミスといろいろ修正
  backend/app/Http/Controllers/admin/packages/ShowPackageAdminController.php
  backend/resources/views/admin/packages/index.blade.php
  backend/resources/views/admin/packages/individual.blade.php
  backend/routes/web.php
Labels: 🔗router

fix fix/packageNERの順番を更新順に変更
  backend/app/Http/Controllers/admin/packages/ShowIndividualPackage.php
Labels: none

wip 開発環境のファイルサイズ制限緩和
  infra/docker/nginx/default.conf
  infra/docker/php/php.ini
Labels: none

fix 日記インポートの失敗解消(サイズ、日付変換)
  backend/app/Http/Controllers/diary/ImportDiaryController.php
Labels: none

wip issue templateの修正と追加
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor_request.md
Labels: none

feat webpackのための準備
  backend/package-lock.json
  backend/package.json
Labels: ⚙backend, ⚡infra

fix 不足していた表現の対応
  backend/python/nlp/classification_analysis.py
Labels: none

feat webpackへの以降(chartjsのannotation断念)
  backend/app/Http/Controllers/statistics/ShowStatisticsController.php
  backend/public/css/app.css
  backend/public/css/kadodeMain.css
  backend/public/js/app.js
  backend/public/js/common.js
  backend/public/js/drawWordCloud.js
  backend/public/js/shortStatistics.js
  backend/public/js/topView.js
  backend/public/js/totalStatistics.js
  backend/public/mix-manifest.json
  backend/resources/css/app.css
  backend/resources/css/basis/fonts.css
  backend/resources/css/basis/variables.css
  backend/resources/css/common.css
  backend/resources/css/components/diary/drawDiary.css
  backend/resources/css/components/diary/drawSaveButton.css
  backend/resources/css/components/diary/index.css
  backend/resources/css/components/statistics/drawPipe.css
  backend/resources/css/components/statistics/drawStatistics.css
  backend/resources/css/components/statistics/index.css
  backend/resources/css/legacy.css
  backend/resources/js/common.js
  backend/resources/js/statistics/drawWordCloud.js
  backend/resources/js/statistics/shortStatistics.js
  backend/resources/js/statistics/totalStatistics.js
  backend/resources/js/topView.js
  backend/resources/views/components/basis/headMeta.blade.php
  backend/resources/views/components/basis/roadJS.blade.php
  backend/resources/views/components/statistics/frame/statisticFrameForArchive.blade.php
  backend/resources/views/components/statistics/graph/classificationsGraph.blade.php
  backend/resources/views/components/statistics/graph/emotionsChangeGraph.blade.php
  backend/resources/views/components/statistics/graph/wordCountsGraph.blade.php
  backend/resources/views/components/statistics/graph/writingRateGraph.blade.php
  backend/resources/views/components/statistics/visualize/wordCloud.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
  backend/webpack.mix.js
Labels: 💻frontend, ⚙backend

refactor コンポーネントでdivタグを外すことで適用範囲拡大
  backend/public/css/app.css
  backend/resources/css/components/statistics/drawStatistics.css
  backend/resources/views/components/statistics/char/emotionsRateChar.blade.php
  backend/resources/views/components/statistics/frame/statisticFrameForArchive.blade.php
  backend/resources/views/components/statistics/graph/animeTimeline.blade.php
  backend/resources/views/components/statistics/graph/charLengthHistogram.blade.php
  backend/resources/views/components/statistics/graph/classificationsGraph.blade.php
  backend/resources/views/components/statistics/graph/emotionsChangeGraph.blade.php
  backend/resources/views/components/statistics/graph/numberOfCharactersGraph.blade.php
  backend/resources/views/components/statistics/graph/partOfSpeechGraph.blade.php
  backend/resources/views/components/statistics/graph/wordCountsGraph.blade.php
  backend/resources/views/components/statistics/graph/writingRateGraph.blade.php
  backend/resources/views/components/statistics/progress/progressGraph.blade.php
  backend/resources/views/components/statistics/rank/topRank.blade.php
  backend/resources/views/components/statistics/visualize/wordCloud.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
Labels: none

fix pycファイルをgit管理外へ
  backend/python/__pycache__/nlpForDiary.cpython-37.pyc
  backend/python/__pycache__/nlpForMonth.cpython-37.pyc
  backend/python/__pycache__/nlpForMonthAndYear.cpython-37.pyc
  backend/python/__pycache__/nlpForPre.cpython-37.pyc
  backend/python/__pycache__/nlpForTotal.cpython-37.pyc
  backend/python/__pycache__/nlpForYear.cpython-37.pyc
  backend/python/nlp/__pycache__/__init__.cpython-37.pyc
  backend/python/nlp/__pycache__/causeEffect_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/classification_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/cosSimilarity_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/dependency_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/emotions_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/importantWords_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/meta_generate.cpython-37.pyc
  backend/python/nlp/__pycache__/morphological_analysis.cpython-37.pyc
  backend/python/nlp/__pycache__/special_people_extract.cpython-37.pyc
  backend/python/nlp/__pycache__/token_generate.cpython-37.pyc
  backend/python/nlp/dic/__pycache__/__init__.cpython-37.pyc
  backend/python/nlp/dic/__pycache__/dic_to_trie.cpython-37.pyc
Labels: none

wip 自動デプロイ一旦止める
  .github/workflows/automatic_deploy.yml_
Labels: none

fix 非推奨のライブラリを置き換え
  backend/package-lock.json
  backend/package.json
  backend/resources/js/statistics/drawWordCloud.js
Labels: ⚙backend, ⚡infra

fix animeTimelineの不具合修正
  backend/public/css/app.css
  backend/public/js/drawTimeline.js
  backend/public/js/drawWordCloud.js
  backend/public/js/totalStatistics.js
  backend/public/mix-manifest.json
  backend/resources/js/statistics/drawTimeline.js
  backend/resources/js/statistics/totalStatistics.js
  backend/resources/views/components/statistics/graph/animeTimeline.blade.php
  backend/webpack.mix.js
Labels: 💻frontend, ⚙backend

fix var→letに(いまさらだが)
  backend/resources/js/topView.js
  backend/resources/views/components/statistics/graph/charLengthHistogram.blade.php
  backend/resources/views/components/statistics/graph/classificationsGraph.blade.php
  backend/resources/views/components/statistics/graph/emotionsChangeGraph.blade.php
  backend/resources/views/components/statistics/graph/numberOfCharactersGraph.blade.php
  backend/resources/views/components/statistics/graph/partOfSpeechGraph.blade.php
  backend/resources/views/components/statistics/graph/wordCountsGraph.blade.php
  backend/resources/views/components/statistics/graph/writingRateGraph.blade.php
  backend/resources/views/components/statistics/progress/progressGraph.blade.php
  backend/resources/views/layouts/OLDmain.blade.php
Labels: none

wip いらないけど、warningが出ちゃうので……
  backend/public/js/vis-timeline-graph2d.js.map
Labels: none

fix 不要なcss削除
  backend/resources/views/components/basis/headMeta.blade.php
Labels: none

feat ロゴ変更
  backend/public/css/app.css
  backend/public/favicon.ico
  backend/public/img/favicon/apple-touch-icon-180x180.png
  backend/public/img/favicon/icon-192x192.png
  backend/public/img/kadode_logo.png
  backend/resources/css/legacy.css
Labels: 💻frontend

fix 未ログイン系のページの表示修正
  backend/resources/views/components/basis/headerNoLogin.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
Labels: none

wip Tailwindにカラー記載を追加
  backend/tailwind.config.js
Labels: ⚙backend

fix 検索結果の文字色あたってない問題修正
  backend/app/Http/Controllers/diary/SearchDiaryController.php
Labels: none

feat ロゴのtitleコメント追加
  backend/resources/views/components/basis/header.blade.php
  backend/resources/views/components/basis/headerNoLogin.blade.php
  backend/resources/views/layouts/OLDmain.blade.php
  backend/resources/views/vendor/jetstream/components/application-logo.blade.php
  backend/resources/views/vendor/jetstream/components/application-mark.blade.php
  backend/resources/views/vendor/jetstream/components/authentication-card-logo.blade.php
  backend/resources/views/vendor/jetstream/components/authentication-card.blade.php
Labels: none

fix トップページ見た目と文言変更
  backend/public/css/app.css
  backend/public/img/kadode_logo.png
  backend/public/img/kadode_logo.svg
  backend/public/img/kadode_logo_nobg.svg
  backend/public/js/app.js
  backend/public/js/common.js
  backend/public/js/drawTimeline.js
  backend/public/js/drawWordCloud.js
  backend/public/js/shortStatistics.js
  backend/public/js/topView.js
  backend/public/js/totalStatistics.js
  backend/public/mix-manifest.json
  backend/resources/css/app.css
  backend/resources/css/components/top.css
  backend/resources/views/components/basis/header.blade.php
  backend/resources/views/components/basis/headerNoLogin.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
  backend/resources/views/layouts/OLDmain.blade.php
  backend/resources/views/vendor/jetstream/components/application-logo.blade.php
  backend/resources/views/vendor/jetstream/components/application-mark.blade.php
  backend/resources/views/vendor/jetstream/components/authentication-card-logo.blade.php
Labels: 💻frontend

return下のコメント変更
  backend/python/nlp/morphological_analysis.py
Labels: none

fix 不要な代入削除
  backend/python/nlpForMonthAndYear.py
Labels: 🍃nlp

fix 使われてない不要な処理変更
  backend/python/nlp/emotions_analysis.py
  backend/python/nlpForTotal20211027.py
Labels: 🍃nlp

未ログインで管理者ページに行くと500エラーになる問題解消
  backend/app/Http/Middleware/VerifyAdminUser.php
  backend/python/base/__pycache__/__init__.cpython-37.pyc
  backend/python/base/__pycache__/connectDBClass.cpython-37.pyc
  backend/python/base/__pycache__/loadEnv.cpython-37.pyc
  backend/routes/web.php
Labels: 🔗router

fix 不要な条件分岐削除
  backend/python/nlpForMonthAndYear.py
Labels: 🍃nlp

fix 不要な代入修正
  backend/python/nlpForPre.py
  backend/python/nlpTEST.py
Labels: 🍃nlp

fix inputデフォルトカラー廃止時のミス修正
  backend/resources/views/diary/statistics/topStatistics.blade.php
Labels: none

refactor 使ってないライブラリやファイル、変数を削除(一部コメントアウト)
  backend/python/nlp/morphological_analysis.py
  backend/python/nlpForDiary.py
  backend/python/nlpForMonthAndYear.py
  backend/python/nlpForTotal.py
  backend/python/nlpTEST.py
  backend/resources/js/statistics/drawWordCloud.js
Labels: 🍃nlp

refactor try catchでやってる処理を三項演算子に変更(これは元がやばすぎる……)
  backend/python/nlp/classification_analysis.py
  backend/python/nlp/importantWords_analysis.py
  backend/python/nlp/special_people_extract.py
Labels: none

fix インポート時の不自然な挙動修正
  backend/app/Http/Controllers/diary/ImportDiaryController.php
  backend/resources/views/diary/io/afterImport.blade.php
Labels: none

fix inputデフォルト設定でのぬけもれ修正
  backend/resources/views/diary/setting.blade.php
Labels: none

fix lgtmの指摘の修正ミス追加
  backend/public/css/app.css
  backend/public/js/common.js
  backend/public/js/drawWordCloud.js
  backend/public/mix-manifest.json
  backend/resources/js/common.js
Labels: 💻frontend

wip ciの名前整理
  .github/workflows/label.yml
  .github/workflows/larastanReviewdog.yml
  .github/workflows/laravelTester.yml
Labels: none

wip ide-helper更新
  backend/_ide_helper.php
Labels: ⚙backend

wip phpstorm関連のファイル追加(一部ignore)
  .idea/kadode_nikki3.iml
  .idea/modules.xml
  .idea/php.xml
  .idea/vcs.xml
  .idea/workspace.xml
Labels: none

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*
