Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*

feat python側の新テーブル動作修正完了
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
Labels: 📦database-core

wip SQLが極端に多いところにCOMMENT付与
  backend/app/Http/Actions/ReleaseNote/ShowReleaseNoteAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/ShowHomeAction.php
Labels: none

fix グローバルスコープの名前がわかりにくいので変更
  backend/app/Models/CustomNER.php
  backend/app/Models/Diary.php
  backend/app/Models/Diary_people.php
  backend/app/Models/NlpPackageName.php
  backend/app/Models/NlpPackageUser.php
  backend/app/Models/Search_setting.php
  backend/app/Models/Statistic.php
  backend/app/Models/Statistic_overall_progress.php
  backend/app/Models/Statistic_per_individual.php
  backend/app/Models/Statistic_per_month.php
  backend/app/Models/Statistic_per_year.php
  backend/app/Models/User_ip.php
Labels: none

fix DiaryPeopleの名前変更(このテーブル自体いらない気もするが)
  backend/app/Models/DiaryPeople.php
Labels: none

fix グローバルスコープの名前変更？？
  backend/app/Scopes/ScopeLoggedInUser.php
Labels: none

fix リリースノートジャンルがキャメルケースなのでアッパーケースへ修正
  backend/app/Http/Actions/ReleaseNote/ShowReleaseNoteAction.php
  backend/app/Models/ReleasenoteGenre.php
  backend/database/seeders/ReleasenoteGenreTableSeeder.php
Labels: none

fix SearchSettingの名前変更
  backend/app/Models/SearchSetting.php
Labels: none

fix statistic overall progress の名前変更
  backend/app/Http/Actions/Statistic/CreateAllStatisticAction.php
  backend/app/Models/StatisticOverallProgress.php
Labels: none

fix Statistic_per_individual名前変更
  backend/app/Models/Diary.php
  backend/app/Models/StatisticPerIndividual.php
Labels: none

fix user ip 名前変更と過去の置換ミス修正
  backend/app/Http/Actions/ShowSecurityAction.php
  backend/app/Models/Releasenote.php
  backend/app/Models/UserIp.php
  backend/routes/web.php
Labels: 🔗router

fix user role 名前変更
  backend/app/Http/Actions/ShowAdminRoleRankAction.php
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
  backend/app/Http/Actions/UserRole/CreateUserRoleAction.php
  backend/app/Http/Actions/UserRole/DeleteUserRoleAction.php
  backend/app/Http/Actions/UserRole/UpdateUserRoleAction.php
  backend/app/Models/User.php
  backend/app/Models/UserRole.php
Labels: none

fix user rank の名前変更
  backend/app/Console/Commands/JudgeUserRankCommand.php
  backend/app/Console/Commands/Tmp/MoveDiaryStatisticsCommand.php
  backend/app/Console/Kernel.php
  backend/app/Http/Actions/ShowAdminRoleRankAction.php
  backend/app/Http/Actions/ShowSettingsAction.php
  backend/app/Http/Actions/UserRank/CreateUserRankAction.php
  backend/app/Http/Actions/UserRank/DeleteUserRankAction.php
  backend/app/Http/Actions/UserRank/UpdateUserRankAction.php
  backend/app/Models/User.php
  backend/app/Models/UserRank.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/UserRankTableSeeder.php
  backend/database/seeders/UserRoleTableSeeder.php
  backend/database/seeders/User_rankTableSeeder.php
  docs/DEV/01_backend/README.md
Labels: none

fix osirase genere の名前変更
  backend/app/Http/Actions/Osirase/ShowOsiraseAction.php
  backend/app/Http/Actions/ShowAdminNotificationAction.php
  backend/app/Models/Osirase.php
  backend/app/Models/OsiraseGenre.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/OsiraseGenreTableSeeder.php
Labels: none

fix per month 変更
  backend/app/Http/Actions/Diary/ShowMonthDiaryAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/Statistic/CreateAllStatisticAction.php
  backend/app/Models/StatisticPerMonth.php
Labels: none

fix per year 名前変更
  backend/app/Http/Actions/Diary/ShowYearDiaryAction.php
  backend/app/Http/Actions/Statistic/CreateAllStatisticAction.php
  backend/app/Models/StatisticPerYear.php
Labels: none

fix 名前変更の弊害修正
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/app/Http/Actions/ReleaseNote/ShowReleaseNoteAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/ShowAdminNotificationAction.php
  backend/app/Models/Releasenote.php
  backend/database/seeders/ReleasenoteGenreTableSeeder.php
  backend/database/seeders/UserRoleTableSeeder.php
  backend/resources/views/diaryNoLogIn/osirase.blade.php
  backend/resources/views/diaryNoLogIn/releasenote.blade.php
Labels: ⚙backend

fix 残っていたコンフリクト解消メッセージ削除
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
Labels: 📦database-core

fix user rankの生き残り削除
  backend/app/Http/Actions/ShowHomeAction.php
Labels: none

fix コマンド導入辞める
  backend/app/Console/Commands/Tmp/MoveDiaryStatisticsCommand.php
Labels: none

fix この件のADR追記
  docs/arc/3-かどで日記のフロントエンドとバックエンドの分離.md
Labels: none

wip ファイル更新(モデル名変わったため)
  .vscode/settings.json
  backend/.php-cs-fixer.cache
  backend/_ide_helper_models.php
Labels: ⚙backend

feat 個別統計テーブルの名前変更とカラム追加と動作確認
  backend/app/Models/Diary.php
  backend/app/Models/StatisticPerDate.php
  backend/database/migrations/2022_08_16_194245_create_statistic_per_dates_table.php
  backend/database/migrations/2022_10_06_081216_create_diary_processeds_table.php
  backend/python/base/connectDBClass.py
  backend/python/nlpForDiary.py
  backend/python/nlpForPre.py
Labels: 🍃nlp, 📦database-core

wip 開発環境移動に伴うコミット(動かないので本当はしたくない)
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/UseCases/Diary/GetDiariesByAfterDate.php
  backend/app/UseCases/Diary/GetDiariesByBeforeDate.php
  backend/app/UseCases/Diary/GetDiariesByMonth.php
  backend/app/UseCases/Diary/GetDiariesByYear.php
  backend/app/UseCases/Diary/GetDiariesDateNextToDiaryById.php
  backend/app/UseCases/Diary/GetDiaryByDate.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
Labels: none

docs ADR追加
  docs/DEV/05_production_infra/README.md
  docs/arc/4-かどで日記のUI刷新fall.md
Labels: none

wip 無限に終わらないので一旦 保留(elqounetなにもわからない)
  Makefile
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/app/Enums/DiaryStatisticStatus.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Http/Actions/ShowHomeAction.php
  backend/app/UseCases/Diary/GetDiariesByAfterDate.php
  backend/app/UseCases/Diary/GetDiariesByBeforeDate.php
  backend/app/UseCases/Diary/GetDiariesDateNextToDiaryById.php
  backend/app/UseCases/Diary/GetDiaryByDate.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
  backend/app/UseCases/Diary/Statistic/ArrangeDiaryStatistic.php
  backend/app/UseCases/Diary/Statistic/CheckStatisticStatusByDiary.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/ReleasenoteGenreTableSeeder.php
  backend/resources/views/diary/edit.blade.php
Labels: ⚙backend

wip 日付のフォーマット以外正常動作
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
  backend/resources/views/diary/edit.blade.php
Labels: none

fix 空で検索するとエラーになる
  .idea/kadode_nikki3.iml
  .idea/php.xml
  .idea/workspace.xml
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
Labels: ⚙backend

feat ADR追加
  README.md
  docs/arc/3-かどで日記のフロントエンドとバックエンドの分離.md
  docs/arc/4-日付の保持をUTCに統一し、表示でタイムゾーンを制御する.md
  docs/arc/5-編集履歴機能の搭載.md
  docs/arc/6-マークダウン記法の導入.md
Labels: none

feat 正しい日付で個別ページ動作
  .idea/php.xml
  .idea/workspace.xml
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Models/Diary.php
  backend/app/Models/StatisticPerDate.php
  backend/app/UseCases/Diary/GetDiariesDateNextToDiaryById.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
  backend/app/UseCases/Diary/Statistic/ArrangeDiaryStatistic.php
Labels: none

feat ホーム画面が正しく表示できるように更新
  .idea/workspace.xml
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Http/Actions/ShowHomeAction.php
  backend/app/UseCases/Diary/GetDiariesByAfterDate.php
  backend/app/UseCases/Diary/GetDiariesByBeforeDate.php
  backend/app/UseCases/Diary/GetDiariesByDates.php
  backend/app/UseCases/Diary/GetDiariesByMonth.php
  backend/app/UseCases/Diary/GetDiariesByYear.php
  backend/app/UseCases/Diary/GetDiaryByDate.php
  backend/app/UseCases/Diary/GetLatestDiaries.php
  backend/app/UseCases/Diary/GetSameDayDiariesByDate.php
  backend/app/UseCases/Diary/Statistic/ArrangeDiaryStatistic.php
  backend/app/UseCases/Diary/Statistic/CheckStatisticStatusByDiary.php
  backend/app/UseCases/StatisticPerMonth/GetMonthlyStatisticByYearAndMonth.php
  backend/app/UseCases/User/GetUnreadNotifications.php
  backend/resources/views/diary/home.blade.php
Labels: ⚙backend

feat アーカイブ表示対応
  Makefile
  backend/.php-cs-fixer.cache
  backend/app/Enums/StatisticStatus.php
  backend/app/Http/Actions/Diary/ShowMonthDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Http/Actions/Diary/ShowYearDiaryAction.php
  backend/app/Http/Actions/ShowHomeAction.php
  backend/app/Models/Diary.php
  backend/app/Models/Statistic.php
  backend/app/Models/StatisticPerDate.php
  backend/app/Models/StatisticPerMonth.php
  backend/app/Models/StatisticPerYear.php
  backend/app/UseCases/Diary/GetDiariesByArray.php
  backend/app/UseCases/Diary/GetDiariesByMonth.php
  backend/app/UseCases/Diary/GetDiariesByYear.php
  backend/app/UseCases/Diary/GetDiariesDateNextToDiaryById.php
  backend/app/UseCases/Diary/GetLatestDiaries.php
  backend/app/UseCases/Diary/Statistic/ArrangeDiaryStatistic.php
  backend/app/UseCases/Diary/Statistic/CheckStatisticStatusByDiary.php
  backend/app/UseCases/Statistic/ArrangeStatistic.php
  backend/app/UseCases/Statistic/CheckStatisticStatus.php
  backend/app/UseCases/StatisticPerMonth/GetMonthlyStatisticByMonth.php
  backend/app/UseCases/StatisticPerMonth/GetMonthlyStatisticByYearAndMonth.php
  backend/app/UseCases/StatisticPerYear/GetYearlyStatisticByYear.php
  backend/resources/views/components/statistics/frame/statisticFrameForArchive.blade.php
  backend/resources/views/diary/archive/monthArchive.blade.php
  backend/resources/views/diary/archive/yearArchive.blade.php
  backend/resources/views/diary/edit.blade.php
Labels: ⚙backend

feat 検索対応
  backend/.php-cs-fixer.cache
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/app/UseCases/Diary/SearchDiaries.php
  backend/resources/views/diary/search/searchResult.blade.php
Labels: ⚙backend

feat 統計ページ見れるようにした
  backend/.php-cs-fixer.cache
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
  backend/app/UseCases/Statistic/ArrangeStatisticPerMY.php
  backend/app/UseCases/Statistic/GetStatistic.php
  backend/app/UseCases/StatisticPerMonth/GetMonthlyStatisticByMonth.php
  backend/app/UseCases/StatisticPerYear/GetYearlyStatisticByYear.php
  backend/database/migrations/2022_08_16_194245_create_statistic_per_dates_table.php
  backend/resources/views/components/statistics/char/charLengthRank.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
Labels: ⚙backend, 📦database-core

fix アニメ情報取得で参照しているテーブルが違う
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
Labels: none

fix 処理中の日記の数が正しくない
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
Labels: none

wip makefileにmodelとmirationsの作成のコマンド追加
  Makefile
Labels: none

wip CI上でchromeのバージョン不一致を解決できないので一旦停止
  .github/workflows/BrowserTest_by_docker.yml_
Labels: none

fix 不要なuse削除
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
Labels: none

docs ロードマップ修正
  README.md
Labels: none

fix 関連日記表示機能の廃止
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/UseCases/Diary/GetDiaryByUuid.php
  backend/resources/views/diary/edit.blade.php
Labels: none
