Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

fix ロードマップ修正
  README.md
Labels: none

fix 色々不足修正
  README.md
Labels: none

fix ロードマップ修正
  README.md
Labels: none

feat ADR導入
  docs/ADR/README.md
  docs/README.md
  docs/arc/README.md
  docs/arc/template.md
Labels: 📄docs

feat adr1
  docs/arc/1-かどで日記のADR導入によりアーキテクチャ選定の失敗を防ぐ.md
Labels: none

wip composer,yarn更新
  Makefile
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/composer.lock
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

wip ロードマップ更新
  README.md
  docs/ROADMAP/v3.md
Labels: none

fix ロードマップ修正とリンク切れ修正
  README.md
Labels: none

feat 目次を目次と判別できるようにする
  docs/_layouts/default.html
Labels: none

wip ALTERテーブルとartisan migrateで別個に変更しても壊れないこと確認
  backend/_ide_helper.php
  backend/app/Models/Statistic_per_individual.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
  docs/DEV/01_backend/01_db.md
  docs/DEV/01_backend/02_laravel.md
  docs/DEV/01_backend/README.md
Labels: ⚙backend, 📦database-core

fix PCサイズのログイン背景が大きすぎる積年の問題
  backend/resources/views/layouts/guest.blade.php
Labels: none

feat python側の新テーブル動作修正完了
  .vscode/settings.json
  README.md
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_20_081216_create_diary_processeds_table.php
  backend/database/seeders/DiaryTableSeeder.php
  backend/python/base/connectDBClass.py
  backend/python/nlpForDiary.py
  backend/python/nlpForMonthAndYear.py
  backend/python/nlpForPre.py
Labels: 🍃nlp, 📦database-core

wip だが一旦あいだ開くのでコミット
  backend/.php-cs-fixer.cache
  backend/_ide_helper_models.php
  backend/app/Http/Actions/Diary/CreateDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/app/Models/Statistic_per_individual.php
  backend/tests/Unit/UseCases/NERLabel/GetAllNERLabelInOptionTabFormatTest.php
Labels: ⚙backend

使われていないpython関係ファイル削除(これあとでちゃんとしたい)
  kadode_py.txt
Labels: none

composerとyarnアップデート
  backend/composer.lock
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

CIのブラウザテストがコケる問題対処？
  .github/workflows/BrowserTest.yml
Labels: none

fix バージョンの取り方変更
  .github/workflows/BrowserTest.yml
Labels: none

fix 出力が思ったんと違った
  .github/workflows/BrowserTest.yml
Labels: none

fix ブラウザテスト動く方に変更(遅くなるが)
  .github/workflows/BrowserTest.yml_
  .github/workflows/BrowserTest_by_docker.yml
Labels: none

fix 微調整
  .github/workflows/BrowserTest_by_docker.yml
  README.md
Labels: none

fix タブレットサイズで見た目崩れる
  backend/resources/css/components/statistics/drawPipe.css
  backend/resources/views/diaryNoLogIn/top.blade.php
Labels: none

fix トップページのヘッダーのタイトルが微妙にずれている
  backend/resources/views/components/basis/headerNoLogin.blade.php
Labels: none

fix 不要なコメント削除
  backend/resources/views/components/basis/footer.blade.php
  backend/resources/views/components/basis/smFooter.blade.php
  backend/resources/views/layouts/main.blade.php
  backend/resources/views/layouts/noLogIn.blade.php
Labels: none

feat 目次を目次と判別できるようにする
  docs/_layouts/default.html
Labels: none

wip ALTERテーブルとartisan migrateで別個に変更しても壊れないこと確認
  backend/_ide_helper.php
  backend/app/Models/Statistic_per_individual.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
  docs/DEV/01_backend/01_db.md
  docs/DEV/01_backend/02_laravel.md
  docs/DEV/01_backend/README.md
Labels: ⚙backend, 📦database-core

fix PCサイズのログイン背景が大きすぎる積年の問題
  backend/resources/views/layouts/guest.blade.php
Labels: none

feat python側の新テーブル動作修正完了
  .vscode/settings.json
  README.md
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_20_081216_create_diary_processeds_table.php
  backend/database/seeders/DiaryTableSeeder.php
  backend/python/base/connectDBClass.py
  backend/python/nlpForDiary.py
  backend/python/nlpForMonthAndYear.py
  backend/python/nlpForPre.py
Labels: 🍃nlp, 📦database-core

wip だが一旦あいだ開くのでコミット
  backend/.php-cs-fixer.cache
  backend/_ide_helper_models.php
  backend/app/Http/Actions/Diary/CreateDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/app/Models/Statistic_per_individual.php
  backend/tests/Unit/UseCases/NERLabel/GetAllNERLabelInOptionTabFormatTest.php
Labels: ⚙backend

wip SQLが極端に多いところにCOMMENT付与
  backend/app/Http/Actions/ReleaseNote/ShowReleaseNoteAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/ShowHomeAction.php
Labels: none

docs 2,3追加
  docs/arc/2-自然言語処理を別APIとして分離.md
  docs/arc/3-かどで日記のフロントエンドとバックエンドの分離.md
Labels: none

wip docs周り情報追記
  docs/DEV/05_production_infra/README.md
  docs/DEV/README.md
  docs/arc/3-かどで日記のフロントエンドとバックエンドの分離.md
Labels: none

fix wikiのリンク周り変更
  .vscode/settings.json
  README.md
  docs/CNAME
  docs/DEV/05_production_infra/README.md
Labels: 📄docs

Update CNAME
  docs/CNAME
Labels: 📄docs

fix wikiリンク治ってなかった
  README.md
Labels: none

wip ALTERテーブルとartisan migrateで別個に変更しても壊れないこと確認
  backend/_ide_helper.php
  backend/app/Models/Statistic_per_individual.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
  docs/DEV/01_backend/01_db.md
  docs/DEV/01_backend/02_laravel.md
  docs/DEV/01_backend/README.md
Labels: ⚙backend, 📦database-core

feat 目次を目次と判別できるようにする
  docs/_layouts/default.html
Labels: none

fix PCサイズのログイン背景が大きすぎる積年の問題
  backend/resources/views/layouts/guest.blade.php
Labels: none

feat python側の新テーブル動作修正完了
  .vscode/settings.json
  README.md
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/database/migrations/2022_08_20_081216_create_diary_processeds_table.php
  backend/database/seeders/DiaryTableSeeder.php
  backend/python/base/connectDBClass.py
  backend/python/nlpForDiary.py
  backend/python/nlpForMonthAndYear.py
  backend/python/nlpForPre.py
Labels: 🍃nlp, 📦database-core

wip だが一旦あいだ開くのでコミット
  backend/.php-cs-fixer.cache
  backend/_ide_helper_models.php
  backend/app/Http/Actions/Diary/CreateDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Models/Diary.php
  backend/app/Models/DiaryProcessed.php
  backend/app/Models/Statistic_per_individual.php
  backend/tests/Unit/UseCases/NERLabel/GetAllNERLabelInOptionTabFormatTest.php
Labels: ⚙backend

wip ALTERテーブルとartisan migrateで別個に変更しても壊れないこと確認
  backend/database/migrations/2022_08_16_194245_create_statistic_per_individuals_table.php
Labels: 📦database-core

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*
