Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*

fix 不要ライブラリのインポート削除、行間整理
  .gitignore
  backend/python/nlpForDiary.py
  backend/python/nlpForPre.py
  backend/python/nlpForTotal.py
  backend/python/nlpTEST.py
  backend/python/pythonUseFromPHP.py
Labels: 🍃nlp

fix cssもバージョニングされるように変更
  backend/public/css/app.css
  backend/public/mix-manifest.json
  backend/resources/views/components/basis/headMeta.blade.php
  backend/resources/views/layouts/OLDmain.blade.php
  backend/webpack.mix.js
Labels: 💻frontend, ⚙backend

wip composerとnpm更新
  backend/composer.lock
  backend/package-lock.json
Labels: ⚙backend, ⚡infra

refactor 毎回column全部吹っ飛ばす処理を無いものだけ生成する処理に変更
  backend/python/base/connectDBClass.py
  backend/python/nlpForMonthAndYear.py
Labels: 🍃nlp

fix ホームページの今日の日記保存時に保存したことを表す文言を追加
  backend/_ide_helper.php
  backend/app/Http/Controllers/diary/HomeDiaryController.php
  backend/public/css/app.css
  backend/public/mix-manifest.json
  backend/resources/css/app.css
  backend/resources/css/components/home.css
  backend/resources/views/dashboard.blade.php
  backend/resources/views/diary/home.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/resources/views/welcome.blade.php
Labels: 💻frontend, ⚙backend

fix contentのareaでoverflow-xを無効にすることで、右下の白四角問題解消
  backend/public/css/app.css
  backend/public/mix-manifest.json
  backend/resources/css/common.css
Labels: 💻frontend

fix ogp変更、fbid追加、リンク修正
  README.md
  backend/public/img/ogp.jpg
  backend/public/img/ogp.png
  backend/resources/css/common.css
  backend/resources/views/components/basis/ogp.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
Labels: none

fix typo
  backend/resources/views/components/buttons/editDiaryButton.blade.php
Labels: none

wip guzzleの脆弱性対応のためのアップデート
  backend/composer.lock
Labels: ⚙backend, ⚡infra

refactor npmからyarnへ変更
  backend/package-lock.json
  backend/package.json
  backend/public/css/app.css
  backend/public/mix-manifest.json
  backend/yarn.lock
Labels: 💻frontend, ⚙backend, ⚡infra

fix セキュリティページのボタン修正
  backend/public/css/app.css
  backend/public/mix-manifest.json
  backend/resources/css/common.css
  backend/resources/views/diary/security/home.blade.php
Labels: 💻frontend

fix 検索ボタンも色抜けてた
  backend/resources/views/diary/search/searchResult.blade.php
Labels: none

wip pycのignore化
  backend/python/base/__pycache__/__init__.cpython-37.pyc
  backend/python/base/__pycache__/connectDB.cpython-37.pyc
  backend/python/base/__pycache__/connectDBClass.cpython-37.pyc
  backend/python/base/__pycache__/loadEnv.cpython-37.pyc
Labels: none

fix 重複判定処理のミス修正
  backend/python/nlpForMonthAndYear.py
Labels: 🍃nlp

fix 自動デプロイ復活
  .github/workflows/automatic_deploy.yml
Labels: none

fix
  .github/workflows/automatic_deploy.yml
Labels: none

fix
  .github/workflows/automatic_deploy.yml
Labels: none

fix
  .github/workflows/automatic_deploy.yml
Labels: none

fix fix/自動デプロイでyarnとcomposerもうごかす
  .github/workflows/automatic_deploy.yml
Labels: none

fix なぜかyarnだけ実行できないので外す
  .github/workflows/automatic_deploy.yml
Labels: none

fix mainにpushしてしまったので、その調整
  README.md
Labels: none

fix デプロイ時にyarn installも走らせるように絶対パスで指定
  .github/workflows/automatic_deploy.yml
Labels: none

refactor ログイン不要系でルーティング直書きをActionに移動
  .idea/workspace.xml
  README.md
  backend/app/Http/Actions/ShowAboutThisSiteAction.php
  backend/app/Http/Actions/ShowContactAction.php
  backend/app/Http/Actions/ShowPrivacyPolicyAction.php
  backend/app/Http/Actions/ShowTeapotAction.php
  backend/app/Http/Actions/ShowTermsAction.php
  backend/app/Http/Actions/ShowTopAction.php
  backend/app/Http/Controllers/diary/HomeDiaryController.php
  backend/public/mix-manifest.json
  backend/resources/views/components/basis/footer.blade.php
  backend/routes/web.php
Labels: 💻frontend, 🔗router

refactor/webpackビルドを全部本番に任せるようにした
  .github/workflows/automatic_deploy.yml
  .gitignore
  .idea/workspace.xml
  backend/public/css/app.css
  backend/public/js/app.js
  backend/public/js/app.js.LICENSE.txt
  backend/public/js/common.js
  backend/public/js/drawTimeline.js
  backend/public/js/drawTimeline.js.LICENSE.txt
  backend/public/js/drawWordCloud.js
  backend/public/js/shortStatistics.js
  backend/public/js/shortStatistics.js.LICENSE.txt
  backend/public/js/topView.js
  backend/public/js/totalStatistics.js
  backend/public/js/totalStatistics.js.LICENSE.txt
  backend/public/js/vis-timeline-graph2d.js.map
  backend/public/mix-manifest.json
Labels: 💻frontend

refactor お知らせ表示の名前変更、移動、クエリまとめ
  .idea/workspace.xml
  README.md
  backend/app/Http/Actions/Osirase/ShowOsiraseAction.php
  backend/app/Http/Controllers/diary/HomeDiaryController.php
  backend/app/Http/Controllers/notifications/OsiraseController.php
  backend/app/Models/Osirase.php
  backend/resources/views/components/basis/footer.blade.php
  backend/resources/views/components/noLogIn/osiraseCard.blade.php
  backend/resources/views/diaryNoLogIn/osirase.blade.php
  backend/routes/web.php
  backend/tests/MinimumOperationCheck/ShowNoLoginTest.php
Labels: 🔗router

refactor リリースノートの表示を切り出し、無駄な処理削除
  .idea/workspace.xml
  backend/_ide_helper_models.php
  backend/app/Http/Actions/ReleaseNote/ShowReleaseNoteAction.php
  backend/app/Http/Controllers/notifications/ReleasenoteController.php
  backend/app/Models/Releasenote.php
  backend/resources/views/diaryNoLogIn/releasenote.blade.php
  backend/routes/web.php
Labels: ⚙backend, 🔗router

wip セキュリティ警告出ていたのでアプデ
  backend/composer.lock
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

wip
  .idea/kadode_nikki3.iml
  .idea/php.xml
Labels: none

fix ciのテストでコケる原因解消
  .github/workflows/laravelTester.yml
  .idea/workspace.xml
Labels: none

fix yarn installもするようにした(エラー出るので)
  .github/workflows/laravelTester.yml
Labels: none

fix キャッシュの設定しゅうせい
  .github/workflows/laravelTester.yml
  .idea/workspace.xml
Labels: none

wip ロードマップ整備
  .idea/workspace.xml
  README.md
  backend/routes/web.php
Labels: 🔗router

refactor/ユーザー情報更新まわりの切り出し
  .vscode/settings.json
  backend/app/Http/Actions/User/ChangeEmailAction.php
  backend/app/Http/Actions/User/ChangePasswordAction.php
  backend/app/Http/Actions/User/ChangeUserNameAction.php
  backend/app/Http/Actions/User/DeleteUserAction.php
  backend/app/Http/Controllers/security/UpdateUserController.php
  backend/app/Legacy/calculateDiary.php
  backend/routes/web.php
Labels: 🔗router

wip 直下階層の表示関連移動
  README.md
  backend/app/Http/Actions/ShowHomeAction.php
  backend/app/Http/Actions/ShowSettingsAction.php
  backend/routes/web.php
Labels: 🔗router

refactor EditDiaryController解体
  .idea/workspace.xml
  backend/app/Http/Actions/Diary/CreateDiaryAction.php
  backend/app/Http/Actions/Diary/DeleteDiaryAction.php
  backend/app/Http/Actions/Diary/ShowCreateDiaryAction.php
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/Http/Actions/Diary/UpdateDiaryAction.php
  backend/routes/web.php
Labels: 🔗router

refactor Diary系のコントローラー解体
  .idea/workspace.xml
  backend/app/Http/Actions/Diary/CreateDiaryAction.php
  backend/app/Http/Actions/Diary/Export/ExportByCsvAction.php
  backend/app/Http/Actions/Diary/Import/ImportFromKadodeCsvAction.php
  backend/app/Http/Actions/Diary/Import/ImportFromTukiniTxtAction.php
  backend/app/Http/Actions/Diary/Search/ShowSimpleSearchAction.php
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/app/Http/Actions/Diary/ShowMonthDiaryAction.php
  backend/app/Http/Actions/Diary/ShowYearDiaryAction.php
  backend/routes/web.php
Labels: 🔗router

refactor/パッケージNERとか通知とかのAction移動
  .idea/workspace.xml
  backend/app/Http/Actions/CustomNER/CreateCNERAction.php
  backend/app/Http/Actions/CustomNER/DeleteCNERAction.php
  backend/app/Http/Actions/CustomNER/UpdateCNERAction.php
  backend/app/Http/Actions/NlpPackageUser/ReleasePackageAction.php
  backend/app/Http/Actions/NlpPackageUser/UsePackageAction.php
  backend/app/Http/Actions/ShowSecurityAction.php
  backend/app/Http/Actions/Statistic/CreateAllStatisticAction.php
  backend/app/Http/Actions/Statistic/ShowSettingAction.php
  backend/app/Http/Actions/Statistic/ShowStatisticAction.php
  backend/app/Http/Actions/Statistic/UpdateAllStatisticAction.php
  backend/app/Http/Actions/User/Notification/RemoveOsiraseNoticeAction.php
  backend/app/Http/Actions/User/Notification/RemoveReleaseNoteNoticeAction.php
  backend/app/Http/Actions/User/Notification/RemoveUserRankNoticeAction.php
  backend/app/Http/Actions/User/UpdateEmailAction.php
  backend/app/Http/Actions/User/UpdatePasswordAction.php
  backend/app/Http/Actions/User/UpdateUserNameAction.php
  backend/app/Http/Controllers/notifications/ManageNotificationController.php
  backend/app/Http/Controllers/statistics/NamedEntityStatisticsController.php
  backend/resources/views/components/notification/notification.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/routes/web.php
Labels: 🔗router

refactor/パッケージ周りのAction移動
  .idea/workspace.xml
  backend/app/Http/Actions/NlpPackageGenre/CreatePackageGenreAction.php
  backend/app/Http/Actions/NlpPackageGenre/DeletePackageGenreAction.php
  backend/app/Http/Actions/NlpPackageGenre/UpdatePackageGenreAction.php
  backend/app/Http/Actions/NlpPackageName/CreatePackageNameAction.php
  backend/app/Http/Actions/NlpPackageName/DeletePackageNameAction.php
  backend/app/Http/Actions/NlpPackageName/UpdatePackageNameAction.php
  backend/app/Http/Actions/PackageNER/CreatePNERAction.php
  backend/app/Http/Actions/PackageNER/DeletePNERAction.php
  backend/app/Http/Actions/PackageNER/UpdatePNERAction.php
  backend/app/Http/Actions/ShowAdminHomeAction.php
  backend/app/Http/Actions/ShowAdminIndividualPackageAction.php
  backend/app/Http/Actions/ShowAdminNotificationAction.php
  backend/app/Http/Actions/ShowAdminPackageAction.php
  backend/app/Http/Actions/ShowAdminRoleRankAction.php
  backend/app/Http/Controllers/packages/GenrePackagesController.php
  backend/app/Http/Controllers/packages/ManagePackagesController.php
  backend/app/Http/Controllers/statistics/NamedEntityStatisticsController.php
  backend/routes/web.php
Labels: 🔗router

refactor/全コントローラーをシングルアクションに置き換え
  .idea/workspace.xml
  backend/app/Http/Actions/Osirase/CreateOsiraseAction.php
  backend/app/Http/Actions/Osirase/DeleteOsiraseAction.php
  backend/app/Http/Actions/Osirase/ShowOsiraseAction.php
  backend/app/Http/Actions/Osirase/UpdateOsiraseAction.php
  backend/app/Http/Actions/ReleaseNote/CreateReleaseNoteAction.php
  backend/app/Http/Actions/ReleaseNote/DeleteReleaseNoteAction.php
  backend/app/Http/Actions/ReleaseNote/UpdateReleaseNoteAction.php
  backend/app/Http/Actions/UserRank/CreateUserRankAction.php
  backend/app/Http/Actions/UserRank/DeleteUserRankAction.php
  backend/app/Http/Actions/UserRank/UpdateUserRankAction.php
  backend/app/Http/Actions/UserRole/CreateUserRoleAction.php
  backend/app/Http/Actions/UserRole/DeleteUserRoleAction.php
  backend/app/Http/Actions/UserRole/UpdateUserRoleAction.php
  backend/app/Http/Controllers/notifications/OsiraseController.php
  backend/app/Http/Controllers/notifications/ReleasenoteController.php
  backend/app/Http/Controllers/statistics/ExportStatisticsController.php
  backend/app/Http/Controllers/statistics/ImportStatisticsController.php
  backend/app/Http/Controllers/statistics/PackagesStatisticsController.php
  backend/app/Http/Controllers/user/User_rankController.php
  backend/app/Http/Controllers/user/User_roleController.php
  backend/database/migrations/2021_05_30_050358_create_diaries_table.php
  backend/routes/web.php
Labels: 📦database-core, 🔗router

wip cs-fixer導入と細かい修正
  .idea/kadode_nikki3.iml
  .idea/php.xml
  .idea/workspace.xml
  Makefile
  backend/.php-cs-fixer.cache
  backend/.php-cs-fixer.dist.php
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/app/Http/Actions/CustomNER/UpdateCNERAction.php
  backend/app/Http/Actions/Diary/Search/ShowSimpleSearchAction.php
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/app/Http/Actions/Diary/ShowCreateDiaryAction.php
  backend/app/Http/Actions/NlpPackageName/UpdatePackageNameAction.php
  backend/composer.json
  backend/composer.lock
  backend/tests/Feature/Diary/CreateDiaryTest.php
Labels: ⚙backend, ⚡infra
