Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*

feat CIでコーディング規約チェック
  .github/workflows/php-cs-fixer.yml
  .idea/workspace.xml
Labels: none

wip CIの修正など
  .github/workflows/automatic_deploy.yml
  .github/workflows/larastanReviewdog.yml
  .github/workflows/php-cs-fixer.yml
  Makefile
  backend/.php-cs-fixer.cache
  backend/tests/Feature/Diary/CreateDiaryTest.php
Labels: ⚙backend

wip テストはべつのPRにする
  backend/tests/Feature/Diary/CreateDiaryTest.php_
Labels: none

fix トップページでログイン済みなら新規登録じゃなくてホームへに変更
  backend/resources/views/diaryNoLogIn/top.blade.php
Labels: none

wip
  gitTag.MD
Labels: none

wip ローカルでは動くのにCIでは失敗する問題調査
  .github/workflows/php-cs-fixer.yml
  Makefile
Labels: none

fix php8.1.6↔8.1.8の違いだった……
  Makefile
  backend/.php-cs-fixer.cache
  backend/.php-cs-fixer.dist.php
  backend/app/Http/Actions/ShowHomeAction.php
Labels: ⚙backend

wip とりあえずビルド成功(フォントと一部のJSが死んでる)
  backend/.env.ci
  backend/.env.example
  backend/composer.json
  backend/composer.lock
  backend/package.json
  backend/postcss.config.js
  backend/resources/css/app.css
  backend/resources/css/basis/fonts.css
  backend/resources/js/bootstrap.js
  backend/resources/views/components/basis/headMeta.blade.php
  backend/resources/views/components/basis/roadJS.blade.php
  backend/resources/views/components/statistics/frame/statisticFrameForArchive.blade.php
  backend/resources/views/components/statistics/graph/animeTimeline.blade.php
  backend/resources/views/components/statistics/visualize/wordCloud.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
  backend/resources/views/layouts/app.blade.php
  backend/resources/views/layouts/guest.blade.php
  backend/tailwind.config.js
  backend/vite.config.js
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

feat フォントの問題解消(シンボリックリンク貼った)
  backend/composer.json
  backend/composer.lock
  backend/resources/css/basis/fonts.css
  backend/resources/css/fonts
  backend/resources/js/app.js
Labels: ⚙backend, ⚡infra

fix JS周りのvite用置き換え(require廃止)
  backend/resources/js/statistics/shortStatistics.js
  backend/resources/js/statistics/totalStatistics.js
  backend/resources/views/components/statistics/frame/statisticFrameForArchive.blade.php
  backend/resources/views/components/statistics/graph/animeTimeline.blade.php
  backend/resources/views/components/statistics/graph/charLengthHistogram.blade.php
  backend/resources/views/components/statistics/graph/classificationsGraph.blade.php
  backend/resources/views/components/statistics/graph/emotionsChangeGraph.blade.php
  backend/resources/views/components/statistics/graph/numberOfCharactersGraph.blade.php
  backend/resources/views/components/statistics/graph/partOfSpeechGraph.blade.php
  backend/resources/views/components/statistics/graph/wordCountsGraph.blade.php
  backend/resources/views/components/statistics/graph/writingRateGraph.blade.php
  backend/resources/views/components/statistics/progress/progressGraph.blade.php
  backend/resources/views/components/statistics/visualize/wordCloud.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/resources/views/layouts/noLogIn.blade.php
Labels: none

fix d3-cloudの読み込み修正
  .github/workflows/automatic_deploy.yml
  .gitignore
  backend/resources/js/statistics/drawWordCloud.js
Labels: none

fix viteでもtailwindを先に読み込むようにする
  backend/resources/css/app.css
  backend/resources/css/roadTailwind.css
Labels: none

fix CIのyarn変更
  .github/workflows/laravelTester.yml
Labels: none

fix webpack削除
  backend/webpack.mix.js
  gitTag.MD
  gitTag.md
Labels: ⚙backend

fix Makefile
  Makefile
Labels: none

feat おためしyml
  .github/workflows/laravelTester.yml
  dev.md
  kadode_py.txt
Labels: none

fix 謎の0.0.0削除&&ファイル名変更１
  .github/workflows/laravelTester.yml
  backend/kadode_pip_packages.txt
  backend/kadode_py.txt
  dev.md
Labels: ⚙backend

fix 必要なソフトウェアを追加
  .github/workflows/laravelTester.yml
  infra/docker/php/Dockerfile
Labels: none

wip キャッシュすべき場所模索
  .github/workflows/laravelTester.yml
Labels: none

wip こういうことでは？
  .github/workflows/laravelTester.yml
Labels: none

fix 確認用のコマンド削除
  .github/workflows/laravelTester.yml
Labels: none

fix シンボリックリンクいらなかった
  backend/resources/css/fonts
  backend/resources/css/fonts/MaterialIconsRound-Regular.otf
Labels: none

fix リバースルートのためのweb.php修正
  .idea/kadode_nikki3.iml
  .idea/php.xml
  .idea/workspace.xml
  .vscode/settings.json
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/app/Http/Actions/Statistic/ShowStatisticSettingAction.php
  backend/routes/web.php
Labels: ⚙backend, 🔗router

feat ロードマップ整備
  README.md
Labels: none

refactor テストのURL指定をリバースルートに
  .github/workflows/laravelTester.yml
  backend/tests/MinimumOperationCheck/ShowLoginTest.php
  backend/tests/MinimumOperationCheck/ShowNoLoginTest.php
Labels: none

refactor url()をroute()に置き換え
  backend/.php-cs-fixer.cache
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
  backend/resources/views/admin/homeAdmin.blade.php
  backend/resources/views/admin/packages/index.blade.php
  backend/resources/views/auth/register.blade.php
  backend/resources/views/components/basis/footer.blade.php
  backend/resources/views/components/basis/header.blade.php
  backend/resources/views/components/basis/headerNoLogin.blade.php
  backend/resources/views/components/basis/smFooter.blade.php
  backend/resources/views/components/buttons/editDiaryButton.blade.php
  backend/resources/views/components/diary/breadcrumbDate.blade.php
  backend/resources/views/components/notification/notification.blade.php
  backend/resources/views/components/statistics/char/charLengthRank.blade.php
  backend/resources/views/diary/archive/monthArchive.blade.php
  backend/resources/views/diary/archive/yearArchive.blade.php
  backend/resources/views/diary/edit.blade.php
  backend/resources/views/diary/setting.blade.php
  backend/resources/views/diaryNoLogIn/privacyPolicy.blade.php
  backend/resources/views/diaryNoLogIn/top.blade.php
  backend/resources/views/livewire/editByLivewire.blade.php
Labels: ⚙backend

refactor formのactionリンクをリバースルートに変更
  backend/app/Http/Actions/ShowHomeAction.php
  backend/resources/views/admin/notificationAdmin.blade.php
  backend/resources/views/admin/packages/index.blade.php
  backend/resources/views/admin/role_rankAdmin.blade.php
  backend/resources/views/components/basis/header.blade.php
  backend/resources/views/components/buttons/editorDiaryButton.blade.php
  backend/resources/views/components/diary/submitForm.blade.php
  backend/resources/views/components/notification/notification.blade.php
  backend/resources/views/diary/edit.blade.php
  backend/resources/views/diary/home.blade.php
  backend/resources/views/diary/newDiary.blade.php
  backend/resources/views/diary/search/searchResult.blade.php
  backend/resources/views/diary/security/home.blade.php
  backend/resources/views/diary/setting.blade.php
  backend/resources/views/diary/statistics/settingsStatistics.blade.php
  backend/resources/views/diary/statistics/topStatistics.blade.php
  backend/resources/views/livewire/editByLivewire.blade.php
Labels: none

fix 細かい修正(!の隙間とVSCodeのフォーマッタの違いを軽減)
  Makefile
  backend/.php-cs-fixer.cache
  backend/.php-cs-fixer.dist.php
Labels: ⚙backend

feat Laravel Duskの環境整備とテスト動作
  Makefile
  backend/.env.dusk.local
  backend/composer.json
  backend/composer.lock
  backend/phpunit.dusk.xml
  backend/resources/views/components/basis/footer.blade.php
  backend/tests/Browser/FooterLinkTest.php
  backend/tests/Browser/Pages/HomePage.php
  backend/tests/Browser/Pages/Page.php
  backend/tests/Browser/console/.gitignore
  backend/tests/Browser/screenshots/.gitignore
  backend/tests/Browser/source/.gitignore
  backend/tests/DuskTestCase.php
  backend/tests/Feature/Diary/CreateDiaryTest.php_
  docker-compose.yml
Labels: ⚙backend, ⚡infra, 🏠localInfra, 🧪tests

feat フッターリンクテスト(おそろしいミスも見つかった……すごい……)
  backend/app/Http/Actions/ShowContactAction.php
  backend/app/Http/Actions/ShowTermsAction.php
  backend/resources/views/components/basis/footer.blade.php
  backend/tests/Browser/FooterLinkTest.php
Labels: none

wip 詳細表示(phpunitと裏は同じはずだが、出方違うので統一)
  Makefile
Labels: none

fix cs-fixer適応
  backend/.php-cs-fixer.cache
  backend/tests/Browser/FooterLinkTest.php
  backend/tests/Browser/Pages/HomePage.php
  backend/tests/Browser/Pages/Page.php
  backend/tests/DuskTestCase.php
Labels: ⚙backend, 🧪tests

refactor 単体テストと結合テストのyml分離
  .github/workflows/CombinedTest.yml
  .github/workflows/unitTest.yml
  Makefile
Labels: none

fix unitテストで不要な処理削除
  .github/workflows/unitTest.yml
Labels: none

fix unitテストにunitじゃないものが含まれていた
  backend/tests/Feature/Auth/ApiTokenPermissionsTest.php
  backend/tests/Feature/Statistic/ThrowPythonNLPTest.php
  backend/tests/Unit/UseCases/Statistic/ThrowPythonNLPTest.php_
Labels: none

fix まだunitでないunitテストがあった(今度はDB依存タイプ)
  backend/tests/Unit/UseCases/Diary/ShapeContentWithNlpTest.php_
  backend/tests/Unit/UseCases/Diary/ShapeStatisticFromDiariesTest.php_
Labels: none

feat ブラウザCIテスト
  .github/workflows/BrowserTest.yml
  backend/.php-cs-fixer.cache
Labels: ⚙backend

fix ymlでサーバ立ててなかった
  .github/workflows/BrowserTest.yml
Labels: none

wip ローカルと似た環境で試す
  .github/workflows/BrowserTest.yml
  backend/tests/Unit/UseCases/NERLabel/GetAllNERLabelInOptionTabFormatTest.php
Labels: none

fix インデントミス
  .github/workflows/BrowserTest.yml
Labels: none
