Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*

wip
  .github/workflows/BrowserTest.yml
Labels: none

wip
  .github/workflows/BrowserTest.yml
Labels: none

fix seleniumのurlを変更
  .github/workflows/BrowserTest.yml
  backend/.env.ci
  backend/.env.dusk.local
  backend/tests/DuskTestCase.php
Labels: ⚙backend, 🧪tests

fix cdしていない,タイポ
  .github/workflows/BrowserTest.yml
  .github/workflows/unitTest.yml
  backend/.env.ci
  backend/tests/Unit/UseCases/NERLabel/GetAllNERLabelInOptionTabFormatTest.php
Labels: ⚙backend

fix vendor pass
  .github/workflows/BrowserTest.yml
Labels: none

fix port number(CIの出力で9515と出ていたのでそちらに変更)
  .github/workflows/BrowserTest.yml
Labels: none

fix chromeとseleniumの違い
  .github/workflows/BrowserTest.yml
  backend/.env.dusk.local
  backend/tests/DuskTestCase.php
Labels: ⚙backend, 🧪tests

fix わからあに
  .github/workflows/BrowserTest.yml
Labels: none

fix chrome追加
  .github/workflows/BrowserTest.yml
Labels: none

fix DevToolsActivePort file doesn't exist対処のため--no-sandboxc
  backend/tests/DuskTestCase.php
Labels: 🧪tests

fix dusk:installしていない
  .github/workflows/BrowserTest.yml
Labels: none

fix chromeのバージョン揃える
  .github/workflows/BrowserTest.yml
Labels: none

fix chromeのバージョン揃えれていない
  .github/workflows/BrowserTest.yml
Labels: none

test test
  .github/workflows/BrowserTest.yml
Labels: none

fix だめもと
  .github/workflows/BrowserTest.yml
Labels: none

fix ローカルdockerを用いて試す
  .github/workflows/BrowserTest.yml
Labels: none

fix なぞのインデント州伊勢
  .github/workflows/BrowserTest.yml
Labels: none

fix TTYつける
  .github/workflows/BrowserTest.yml
Labels: none

fix オプション引数の位置が違う
  .github/workflows/BrowserTest.yml
  .github/workflows/larastanReviewdog.yml
Labels: none

wip dockerキャッシュ
  .github/workflows/BrowserTest.yml
Labels: none

fix インデントミス
  .github/workflows/BrowserTest.yml
Labels: none

fix docker重すぎるので従来方法でもう1度試す
  .github/workflows/BrowserTest.yml
  .github/workflows/BrowserTest_by_docker.yml_
  backend/.env.ci
  infra/docker/php/Dockerfile
Labels: ⚙backend

fix change url
  .github/workflows/BrowserTest.yml
  backend/.env.ci
  backend/.env.dusk.local
Labels: ⚙backend

fix 多重起動？
  .github/workflows/BrowserTest.yml
  backend/tests/Browser/ExampleTest.php
Labels: none

fix ??
  .github/workflows/BrowserTest.yml
  backend/.php-cs-fixer.cache
  backend/tests/Browser/ExampleTest.php
Labels: ⚙backend

fix いったんcurl消す
  .github/workflows/BrowserTest.yml
  .github/workflows/BrowserTest_by_docker.yml_
Labels: none

fix そもそものドライバ読み込み変更
  .github/workflows/BrowserTest.yml
  backend/.env.dusk.local
  backend/tests/DuskTestCase.php
Labels: ⚙backend, 🧪tests

fix dusk:installだとテストコードが生成されてErrorになるのでdusk:chrome-driverに
  .github/workflows/BrowserTest.yml
  backend/.env.ci
Labels: ⚙backend

wip CI周りのカード更新
  README.md
Labels: none

fix 文字列だけの配列になるよう変更
  backend/.php-cs-fixer.cache
  backend/app/Console/Commands/GCSCommand.php
Labels: ⚙backend

fix collation変更
  Makefile
  backend/config/database.php
  infra/docker/mysql/my.cnf
Labels: none

fix 凡例表示消えてる問題解消
  backend/resources/js/statistics/shortStatistics.js
  backend/resources/js/statistics/totalStatistics.js
Labels: none

fix collationの同一視で生じていた検索エラー修正
  Makefile
  backend/.php-cs-fixer.cache
  backend/app/Http/Actions/Diary/Search/SimpleSearchAction.php
Labels: ⚙backend

fix ロードマップ修正
  README.md
Labels: none

fix 焦りすぎ
  README.md
Labels: none

fix 改行コードをLFに統一
  .gitattributes
  README.md
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
  backend/artisan
  backend/server.php
  php.mecab.ini
Labels: ⚙backend

wip ide-helper更新
  backend/.php-cs-fixer.cache
  backend/.phpstorm.meta.php
  backend/_ide_helper.php
  backend/_ide_helper_models.php
Labels: ⚙backend

fix ログインと新規登録でtitleが吹っ飛ぶ問題解消
  backend/resources/views/auth/login.blade.php
  backend/resources/views/auth/register.blade.php
Labels: none

feat トップページの過去の日記で4年前を追加
  backend/.php-cs-fixer.cache
  backend/app/Http/Actions/ShowHomeAction.php
Labels: ⚙backend

fix gitが自動で改行コードを帰る際にフォントのバイナリを破壊していた
  .gitattributes
Labels: none
