Repository KadodeProject/kadode_nikki3, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙backend, ✈ci, ⚡infra, 🏠localInfra, 📄docs, 🧪tests, 🍃nlp, 📦database-core, 🔗router

.github/labeler.yml:

# 大枠
💻frontend:
  - backend/public/*
  - backend/resources/*
⚙backend:
  - any: ["backend/*", "!backend/public/*", "!backend/resources/*"]
✈ci:
  - .github/*
  - backend/env.ci
⚡infra:
  - backend/composer.json
  - backend/composer.lock
  - backend/package.json
  - backend/package-lock.json
  - backend/env.example
🏠localInfra:
  - infra/*
  - docker-compose.yml
📄docs:
  - docs/*
# 細かいもの
🧪tests:
  - backend/tests/*
🍃nlp:
  - backend/python/*
📦database-core:
  - backend/database/migrations/*
🔗router:
  - backend/routes/*

wip yarnで不要な依存関係を削除&更新
  backend/package.json
  backend/yarn.lock
Labels: ⚙backend, ⚡infra

wip composer update
  backend/composer.lock
Labels: ⚙backend, ⚡infra

feat redis環境構築
  .gitignore
  backend/.env.example
  backend/config/app.php
  docker-compose.yml
  infra/docker/php/Dockerfile
  infra/docker/php/php.ini
  infra/docker/redis/redis.conf
Labels: ⚙backend, 🏠localInfra

feat ciもredisを使うようにする
  .github/workflows/BrowserTest.yml
  .github/workflows/CombinedTest.yml
  backend/.env.ci
  backend/.env.example
Labels: ⚙backend

wip Module ‘redis’ already loaded in Unknown
  .github/workflows/BrowserTest.yml
  .github/workflows/CombinedTest.yml
Labels: none

fix セッションテーブル削除
  backend/database/migrations/2021_05_30_144038_create_sessions_table.php
Labels: 📦database-core

wip duskのredis設定できていなかった
  backend/.env.dusk.local
Labels: ⚙backend

docs ロードマップ更新&追記
  README.md
Labels: none

Set theme jekyll-theme-hacker
  docs/_config.yml
Labels: 📄docs

Create CNAME
  docs/CNAME
Labels: 📄docs

wip/ロードマップ移動
  README.md
  docs/ADR/README.md
  docs/DEV/03_infra/01_localDevelopment.md
  docs/DEV/03_infra/02_git.md
  docs/DEV/README.md
  docs/README.md
  docs/ROADMAP/README.md
  docs/ROADMAP/overall.md
  docs/ROADMAP/v3.md
  docs/ROADMAP/v4.md
  docs/SAMPLE/sampleTosaNikki.csv
Labels: 📄docs

オリジナルテーマ？
  docs/README.md
  docs/_config.yml
  docs/_layouts/default.html
Labels: 📄docs

fail vitePressとmermaidの相性が合わず自力でプラグイ ン開発しか解決策がないため断念
  .gitignore
  docs/99_usedLicense.md
  docs/DEV/03_infra/01_localDevelopment.md
  docs/DEV/README.md
  docs/ROADMAP/README.md
  docs/UML/100_nlp_db_chart.drawio
  docs/UML/ER図はwikiとschemaspyを利用
  docs/_config.yml
  docs/_layouts/default.html
  docsRoot/CNAME
  docsRoot/README.md
  docsRoot/docs/.vitepress/config.js
  docsRoot/docs/.vitepress/theme_/index.js
  docsRoot/docs/adr/index.md
  docsRoot/docs/dev/04_infra/01_localDevelopment.md
  docsRoot/docs/dev/04_infra/02_git.md
  docsRoot/docs/dev/index.md
  docsRoot/docs/index.md
  docsRoot/docs/public/favicon.ico
  docsRoot/docs/roadmap/index.md
  docsRoot/docs/roadmap/overall.md
  docsRoot/docs/roadmap/v3.md
  docsRoot/docs/roadmap/v4.md
  docsRoot/package.json
  docsRoot/yarn.lock
  sampleData/sampleTosaNikki.csv
Labels: 📄docs

Revert "fail vitePressとmermaidの相性が合わず自力でプラグイ"
  .gitignore
  docs/99_usedLicense.md
  docs/ADR/README.md
  docs/CNAME
  docs/DEV/03_infra/01_localDevelopment.md
  docs/DEV/03_infra/02_git.md
  docs/DEV/README.md
  docs/README.md
  docs/ROADMAP/README.md
  docs/ROADMAP/overall.md
  docs/ROADMAP/v3.md
  docs/ROADMAP/v4.md
  docs/SAMPLE/sampleTosaNikki.csv
  docs/UML/100_nlp_db_chart.drawio
  docs/UML/ER図はwikiとschemaspyを利用
  docs/_config.yml
  docs/_layouts/default.html
  docsRoot/docs/.vitepress/config.js
  docsRoot/docs/.vitepress/theme_/index.js
  docsRoot/docs/dev/04_infra/01_localDevelopment.md
  docsRoot/docs/dev/index.md
  docsRoot/docs/index.md
  docsRoot/docs/public/favicon.ico
  docsRoot/docs/roadmap/index.md
  docsRoot/package.json
  docsRoot/yarn.lock
Labels: 📄docs

Set theme jekyll-theme-hacker
  docs/_config.yml
Labels: 📄docs

fix 標準テーマを若干改変してmermaid対応
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/style.scss
Labels: 📄docs

feat githubPagesのworkflow化
  .github/workflows/generateWiki.yml
Labels: none

fix docsのpass違う
  .github/workflows/generateWiki.yml
Labels: none

fix わからない
  .github/workflows/generateWiki.yml
Labels: none

wip 404追加
  .github/workflows/generateWiki.yml
  docs/404.md
Labels: 📄docs

wip なぜ動かない？
  docs/DEV/gitTag.md
  gitTag.md
Labels: none

fix path
  .github/workflows/generateWiki.yml
Labels: none

wip
  docs/_config.yml
Labels: 📄docs

Set theme jekyll-theme-cayman
  docs/_config.yml
Labels: 📄docs

Delete CNAME
  docs/CNAME
Labels: 📄docs

なぜ404になる？？？
  .github/workflows/generateWiki.yml
  docs/README.md
Labels: 📄docs

wip
  docs/_config.yml
Labels: 📄docs

fix もろもろ
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/style.scss
  docs/assets/css/style.scss_
Labels: 📄docs

Create CNAME
  docs/CNAME
Labels: 📄docs

fix 見た目
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/style.scss
  docs/assets/css/style.scss_
Labels: 📄docs

fix マーメイドの見た目改善
  docs/assets/css/style.scss
Labels: none

feat GitHubWikiの内容移動
  docs/DEV/01_backend/01_db.md
  docs/DEV/01_backend/README.md
  docs/DEV/02_nlp/01_ner.md
  docs/DEV/02_nlp/README.md
  docs/DEV/03_frontend/README.md
  docs/DEV/03_infra/01_localDevelopment.md
  docs/DEV/03_infra/02_git.md
  docs/DEV/04_dev_infra/README.md
  docs/DEV/05_production_infra/README.md
  docs/DEV/06_ci_infra/README.md
  docs/DEV/07_git/README.md
  docs/DEV/08_coding_rule/README.md
  docs/DEV/09_design/README.md
  docs/DEV/99_other/01_usedLicense.md
  docs/DEV/README.md
  docs/DEV/gitTag.md
  docs/README.md
  docs/REGACY/README.md
Labels: 📄docs

fix 既存のミス修正
  README.md
  docs/_includes/toc.html
  docs/_layouts/default.html
  docs/assets/css/style.scss
Labels: none

fix duskのテストがchromeのバージョンでコケるのでcomposer.lock更新
  backend/composer.lock
  docs/README.md
Labels: ⚙backend, ⚡infra, 📄docs

fix ブラウザテストでのchromeのダウンロード順番変更
  .github/workflows/BrowserTest.yml
Labels: none

SchemaSpy廃止とER図更新
  docker-compose.yml
  docs/DEV/01_backend/01_db.md
  infra/docker/schemaspy/drivers/ここにjavaドライバ入れる
  sampleData/sampleTosaNikki.csv
Labels: 🏠localInfra

fix コメントアウトがコメントアウトになってない(そんなことある？？？)
  .github/workflows/BrowserTest.yml
Labels: none

wip dusk動かない問題のためにselenium関連をdokcerfileで最新版 にした
  Makefile
  backend/.env.example
  backend/package.json
  backend/tests/Browser/FooterLinkTest.php
  docker-compose.yml
  docs/DEV/04_dev_infra/01_tips.md
  infra/docker/nginx/default.conf
  infra/docker/php/Dockerfile
  infra/docker/php/php.ini
  infra/docker/selenium/Dockerfile
Labels: ⚙backend, ⚡infra, 🏠localInfra

fix duskのエラーなおらない
  backend/tests/Browser/HeaderLinkTest.php_
  docker-compose.yml
  docs/DEV/04_dev_infra/02_docker.md
  docs/DEV/04_dev_infra/03_dusk.md
  infra/docker/selenium/Dockerfile
Labels: 🏠localInfra

TwitterAPIの仕様的に実装不可能なため断念
  backend/.env.ci
  backend/.env.dusk.local
  backend/.env.example
  backend/app/Http/Actions/Diary/ShowSingleDiaryAction.php
  backend/app/UseCases/Diary/GetApplicableDateTweet.php
  backend/composer.json
  backend/composer.lock
Labels: ⚙backend, ⚡infra
